extends ../layouts/application.pug

block header
  h1= t('views.statuses.index')

block content
  a(
    class="btn btn-primary"
    href=route('newStatus')
  )= t('views.statuses.actions.new')
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
        tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            div(class="flex d-flex")
              a(
                class="btn btn-primary me-1"
                href=route('editStatus', { id: status.id })
              )= t('views.statuses.actions.edit')
              +buttonTo(
                route('deleteStatus', { id: status.id }),
                'delete'
              )(
                class="btn btn-danger"
                value=t('views.statuses.actions.delete')
              )
