extends ../layouts/application.pug

block content
  h1= t('views.tasks.index')
  a(
    class="btn btn-primary"
    href=route('newTask')
  )= t('views.tasks.actions.new')
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th= t('views.tasks.actions.header')
        tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href="")= task.name
          td= task.statusName
          td= (task.creatorFirstName || '') + ' ' + (task.creatorLastName || '')
          td= (task.executorFirstName || '') + ' ' + (task.executorLastName || '')
          td= formatDate(task.createdAt)
          td
            div(class="flex d-flex")
              a(
                class="btn btn-primary me-1"
                href=route('editTask', { id: task.id })
              )= t('views.tasks.actions.edit')
              +buttonTo(
                route('deleteTask', { id: task.id }),
                'delete'
              )(
                class="btn btn-danger"
                value=t('views.tasks.actions.delete')
              )
